/* 主色 */
$uni-main-color:#EF4F3F;

/* 辅助色 */
// 成功
$uni-success-color:#27BA9B;
// 警告
$uni-warning-color:#FFAB2E;
// 报错
$uni-danger-color:#FF4C4C;

/* 中性色 */
$uni-main-text:#2A2929;
$uni-second-text:#818181;
$uni-placeholder-text:#C2C1C1;
$uni-border-color:#D9D9D9;
$uni-diverde-text:#EEEEEE;
$uni-bg-color:#F4F4F4;
$uni-bg-black:#000000;
$uni-bg-white:#FFFFFF;

// 字号大小
$uni-font-size-big: 36rpx;
$uni-font-size-base: 32rpx;
$uni-font-size-small: 28rpx;